@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-name-gradient {
  background: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

html{
  scroll-behavior: smooth;
}
body{
 @apply bg-background text-white;
}

.filter-gray-color{
  filter: invert(44%) sepia(0%) saturate(22%) hue-rotate(138deg) brightness(93%) contrast(86%);
}